// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as ab;

header.header-principal {
  margin-bottom: 40px;

  @include ab.breakpoint(ab.$desktop-primary) {
    margin-bottom: 150px;
  }

  .container {
    @include ab.breakpoint(ab.$desktop) {
      background-image: url("../../../images/logo-desktop.svg");
      background-repeat: no-repeat;
      background-position: top 172px left 133px;
      background-size: 450px;
    }
    @include ab.breakpoint(ab.$desktop-xl) {
      background-position: top 214px left 179px;
      background-size: 500px;
    }
    @include ab.breakpoint(ab.$desktop-primary) {
      background-position: top 310px left 277px;
      background-size: 600px;
    }
  }

  img {
    width: 100%;
    margin-bottom: 25px;
  }

  .logo-mobile {
    width: 80%;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 15px;
    @include ab.breakpoint(ab.$tablet) {
      margin-top: 130px;
      margin-left: -47px;
    }
    @include ab.breakpoint(ab.$desktop) {
      display: none;
      position: relative;
      z-index: 1;
    }
  }

  p {
    font-family: ab.$secundary-font;
    padding: 0;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    color: ab.$grey;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    text-align: left;
    width: 85%;
    @include ab.breakpoint(ab.$tablet) {
      margin-left: -47px;
    }
    @include ab.breakpoint(ab.$desktop) {
      margin-top: 179px;
      margin-left: -37px;
    }
    @include ab.breakpoint(ab.$desktop) {
      margin-top: 181px;
      width: 68%;
    }
    @include ab.breakpoint(ab.$desktop-primary) {
      margin-top: 327px;
      font-size: 22px;
      line-height: 32px;
      width: 55%;
    }
  }

  ul {
    @include ab.reset-list();
  }

  .container {
    @include ab.breakpoint(ab.$tablet) {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    @include ab.breakpoint(ab.$desktop) {
      grid-template-columns: 70% 30%;
    }

    img.image-mobile-header {
      @include ab.breakpoint(ab.$tablet) {
        display: none;
      }
    }

    img.image-tablet-header {
      display: none;
      @include ab.breakpoint(ab.$tablet) {
        display: block;
      }
      @include ab.breakpoint(ab.$desktop) {
        display: none;
      }
    }

    img.image-hero-desktop {
      display: none;
      @include ab.breakpoint(ab.$desktop) {
        display: inline-block;
        position: relative;
        z-index: -1;
      }
    }
  }
}

header.header-location {
  margin-bottom: -2.6px;
  img {
    width: 100%;
  }
}
nav.nav-location {
  ul {
    @include ab.reset-list();
  }
  li {
    position: relative;
  }
}

img.location {
  @include ab.breakpoint(ab.$tablet) {
    display: none;
  }
}

img.location-tablet {
  display: none;
  @include ab.breakpoint(ab.$tablet) {
    display: block;
  }
  @include ab.breakpoint(ab.$desktop) {
    display: none;
  }
}

img.location-desktop {
  display: none;
  @include ab.breakpoint(ab.$desktop) {
    display: block;
  }
}
