@use "../abstracts" as ab;

.gallery {
  .container {
    margin-left: 16px;
    margin-right: 16px;
    @include ab.breakpoint(ab.$tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include ab.breakpoint(ab.$desktop) {
      margin-left: 160px;
      margin-right: 160px;
    }
    @include ab.breakpoint(ab.$desktop-primary) {
      margin-left: 250px;
      margin-right: 250px;
    }
  }
  &__item {
    &-title {
      margin: 0;
      padding: 0;
      font-size: 50px;
      font-weight: 900;
      line-height: 45px;
      text-transform: uppercase;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 21px;
      @include ab.fade-in();

      @include ab.breakpoint(ab.$desktop-primary) {
        display: block;
        padding: 20px 26px;
      }

      @include ab.breakpoint(ab.$tablet) {
        width: 57%;
      }
      @include ab.breakpoint(ab.$tablethorizontal) {
        width: 72%;
        font-size: 81px;
        line-height: 71px;
      }
      @include ab.breakpoint(ab.$desktop) {
        width: 73%;
        font-size: 60px;
        line-height: 86px;
      }
      span {
        width: 60%;
        @include ab.breakpoint(ab.$desktop) {
          width: 150%;
        }
      }
    }

    &-description {
      margin: 0;
      padding: 0;
      font-family: ab.$secundary-font;
      font-size: 18px;
      line-height: 28px;
      font-weight: 200;
      width: 85%;
      margin-bottom: 32px;
      @include ab.fade-in();

      @include ab.breakpoint(ab.$tablet) {
        width: 71%;
        text-align: left;
      }
      @include ab.breakpoint(ab.$desktop) {
        font-size: 22px;
        line-height: 32px;
      }
      @include ab.breakpoint(ab.$desktop-primary) {
        padding-left: 23px;
        padding-right: 5px;
      }
    }

    &-img {
      img {
        width: 100%;
        margin-bottom: 25px;
        @include ab.fade-in();

        @include ab.breakpoint(ab.$tablet) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .context {
    background-color: ab.$black;
    padding: 48px 24px;
    margin-bottom: 100px;
    @include ab.fade-in();

    @include ab.breakpoint(ab.$tablet) {
      padding: 131px 24px;
    }

    @include ab.breakpoint(ab.$tablethorizontal) {
      padding: 182px 24px;
    }

    @include ab.breakpoint(ab.$desktop) {
      padding: 83px 24px;
    }

    @include ab.breakpoint(ab.$desktop-xl) {
      padding: 205px 24px;
    }

    h2 {
      margin: 0;
      padding: 0;
      color: ab.$white;
      font-size: 50px;
      font-weight: 900;
      line-height: 45px;
      margin-bottom: 24px;
      @include ab.breakpoint(ab.$tablethorizontal) {
        font-size: 61px;
        line-height: 56px;
      }
      @include ab.breakpoint(ab.$desktop) {
        font-size: 60px;
        line-height: 60px;
      }
    }
    p {
      margin: 0;
      padding: 0;
      color: ab.$white;
      font-family: ab.$secundary-font;
      font-size: 18px;
      line-height: 28px;
      font-weight: 200;
      @include ab.breakpoint(ab.$tablethorizontal) {
        width: 68%;
      }
      @include ab.breakpoint(ab.$desktop) {
        font-size: 22px;
        line-height: 32px;
        width: 85%;
      }
    }
  }
}

.gallery__item--presentation {
  @include ab.breakpoint(ab.$tablet) {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    flex-direction: row-reverse;
  }
  span {
    flex-basis: 60%;
  }
  .simple-description {
    flex-basis: 40%;
  }
  @include ab.breakpoint(ab.$desktop-primary) {
    gap: 50px;
  }
}

.gallery__item--collection {
  @include ab.breakpoint(ab.$tablet) {
    grid-area: 2 / 1 / span 1 / span 2;
    display: flex;
    gap: 10px;
  }

  @include ab.breakpoint(ab.$desktop-primary) {
    gap: 30px;
  }

  span {
    flex-basis: 60%;
  }

  .comment-collection {
    flex-basis: 40%;
  }

  @include ab.breakpoint(ab.$desktop) {
    span {
      flex-basis: 53%;
    }

    .comment-collection {
      flex-basis: 46%;
    }
  }
  @include ab.breakpoint(ab.$desktop-xl) {
    span {
      flex-basis: 50%;
    }

    .comment-collection {
      flex-basis: 50%;
    }
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 150px;
    scale: 0.9;
  }

  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}
